.card{
        .icon{
            display: grid;
            width: 30px;
            height: 30px;
            background-image: $bgimg;
            border-radius:50%;
            position: absolute;
            grid-template-rows: 30px;
            top:-8.5%;
            
            i{
                display: grid;
                justify-content: center;
                align-content: center;
            
            }
}
}